<div class="col s12" id="home-container">
	<!-- This is the side navbar  -->
	<ul ng-class="{ 'navbar-opened': vm.navbarOpen, 'navbar-closed': !vm.navbarOpen }" id="side-navbar">
		<li class="flex-col-centered waves-light waves-effect" id="account" ng-click="vm.toggleNavbar('close')">
			
		</li>
		<li class="flex-col-centered waves-light waves-effect" ui-sref=".listusers" ng-click="vm.toggleNavbar('close')">
			<a>Conversations</a>
		</li>
		<li class="flex-col-centered waves-light waves-effect" ui-sref=".listgroups" ng-click="vm.toggleNavbar('close')">
			<a>Groups</a>
		</li>
		<li class="flex-col-centered waves-light waves-effect" ng-click="vm.logout()" ng-click="vm.toggleNavbar('close')">
			<a>Logout</a>
		</li>
	</ul>

	<span class="z-depth-1 flex-row-centered" ng-class="{ 'navbar-opened': vm.navbarOpen, 'navbar-closed': !vm.navbarOpen }" id="navbar-btn" ng-click="vm.toggleNavbar()">
		<img src="images/triangle.png">
	</span>

	<div class="flex-col-centered" id="content-container" ng-click="vm.toggleNavbar('close')">
		<div id="site-options">
			<p class="flex-col-centered app-name">
				<span ui-sref="home">Natter</span>
			</p>
		</div>
		
		<!-- ui view for conversations -->
		<div ui-view id="content-view">
		</div>
	</div>
</div>