<div class="col s12" id="auth-container">
	<p class="col s12 flex-col-centered app-name">
		<span>Natter</span>
	</p>

	<div class="row col s12 flex-row-centered" id="form-container">
		<form class="col s10 m8 l4 z-depth-1 flex-col-centered"  ng-submit="vm.login()">
			<div class="col s11 m10 input-field">
				<input type="text" id="username" name="username" ng-model="vm.user.username">
				<label for="username">Username</label>
			</div>
			<div class="col s11 m10 input-field">
				<input type="password" id="userpassword" name="userpassword" ng-model="vm.user.password">
				<label for="userpassword">Password</label>
			</div>
			<button class="btn waves-effect waves-light">Log In</button>
		</form>
	</div>
</div>